@model MyWorld.Models.Countries

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @if (Model.Photo != null)
            {
                <img src="@Url.Action("GetImage", new {Model.Id})" class="img-rounded" style="width: 150px"/>
            }
        </dd>

    </dl>
</div>

@{
    Html.RenderAction("CountryCityList", new {id = Model.Id});
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>